.container
  background-image: linear-gradient(135deg, rgb(30, 8, 30) 0%, rgb(47, 18, 47) 20%, rgb(62, 22, 65) 40%, rgb(35, 11, 35) 60%, rgb(57, 20, 59) 80%, rgb(35, 11, 35) 100%)
  //width: 100vw
  //height: 100vh
  padding: 25px 20px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.profile_list
  width: 1200px